@use './assets/partials/variables' as *;
@use './assets/partials/mixins' as *;
@import './assets/partials/typography';

@import './components/NewHeader/NewHeader.scss';
@import './components/NewHero/NewHero.scss';

* 
{
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

#root {
  background: rgb(2,0,36);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  font-style: normal;
  background: rgb(2,0,36);
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul, a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;

  &:visited, &:link {
      text-decoration: none;
  }
} 