@use '../../assets/partials/variables' as *;

.navbar {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 16rem;
    height: 100%;
    background-color: $card-background;
    box-shadow: 0 0 8px white;
    z-index: 1; 
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    border-radius: 1rem;

    &__button {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 1rem 0 0;
        border: none;
    }

    &__cross {
        width: 2rem;
    }

    &__boards {
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
    }

    &__header{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    &__dashboard {
        font-size: 1rem;
        padding-bottom: 0.5rem;
        cursor: pointer;
    }

    &__name {
        font-weight: 700;
        margin-top: 0.5rem
    }

    &__delete {
        font-size: 0.75rem;
        color: $tertiary-accent-color;
        font-weight: 600;
    }

    &__body {
        cursor: pointer;
        padding: 0.25rem 0;

        &:hover{
            opacity: 25%;
        }
    }

    &__hr {
        border: 1px solid $accent-color;
    }
}

.navbar--open {
    transform: translateX(0)
}

.navbar__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}