//media query breakpoints
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;

//color pallete
$primary-text: #E0E0E0;
$secondary-text: #FFFFFF;
$secondary-text2: #B3B3B3;
$hero-background: #0D0D2B;
$background: #1A1A3A;
$accent-color: #00D9FF;
$secondary-accent-color: #eeeeee;
$tertiary-accent-color: #FF00A1;
$card-background: #0D0D2A;

//padding
$mobile-padding: 0 1rem;