//media query breakpoints
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 768px;

//color pallete
$primary-text: #192348;
$secondary-text: #FFFFFF;
$secondary-text2: #9290C3;
$hero-background: #1B1A55;
$background: #535C91;
$accent-color: #4bc5c5;
$secondary-accent-color: #D99A9E;
$tertiary-accent-color: #ff13a4;

//padding
$mobile-padding: 0 1rem;