@use '../../assets/partials/variables' as *;

.card {
    position: relative;
    box-sizing: border-box;
    width: 90%;
    margin: 0.5rem 0.5rem;
    min-height: 8rem;
    background-color:rgb(35, 33, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    border-radius: 1rem;
    box-shadow: 0 0 10px $tertiary-accent-color;
}