@use '../../assets/partials/variables' as *;

.board {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;

    &__details {
        display: flex;
        align-items: center;
        background-color: $hero-background;
        height: 4rem;
        padding: 0;
    }

    &__name {
        font-size: 2rem;
        font-weight: 600;
        padding: 0 1rem;
    }

    &__header {
        background-color: $tertiary-accent-color;
        height: 2rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 600;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__kanban {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding: 1rem;
    }

    &__column {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    &__column-cards {
        width: 95%;
        min-height: 40rem;
        background-color: $background;
        margin: 1rem 0;
        border-radius: 1rem;
    }
}