@use '../../assets/partials/variables' as *;
@use '../../assets/partials/mixins' as *;

.nav {
    display: flex;
    min-height: 100vh;

    &__arrow {
        margin-top: 6rem;
        max-width: 2.5rem;
        max-height: 2rem;
        padding-left: 0.5rem;
        
    }
}

.board-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1rem;

    @include tablet {
        margin: 0 2rem;
    }

    @include desktop {
        margin: 0 6rem;
    }
}

.board {
    display: flex;
    flex-direction: column;

    @include tablet {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__details {
        display: flex;
        align-items: center;
        background-color: $hero-background;
        height: 6rem;
        padding: 0;
        gap: 1rem;

        @include tablet {
            justify-content: space-between;
            height: 4rem;
        }
    }

    &__name {
        font-size: 1.125rem;
        font-weight: 600;
        width: 50%;

        @include tablet {
            font-size: 2rem;
            font-weight: 600;
            padding: 0 1rem;
        }
    }

    &__header {
        background-color: $tertiary-accent-color;
        height: 2rem;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        width: 45%;

        @include tablet {
            width: 70%;
        }
    }

    &__kanban {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        padding: 1rem;
    }

    &__column {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    &__column-cards {
        width: 95%;
        min-height: 40rem;
        background-color: $background;
        margin: 1rem 0;
        border-radius: 1rem;
    }

    &__date {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        @include tablet {
            align-items: flex-end;
        }
    }

    &__date-text {
        font-size: 0.75rem;
        align-self: flex-end;
        width: 60%;

        @include tablet {
            font-size: 1rem;
            width: 100%;
        }
    }
}