@use '../../assets/partials/variables' as *;
@use '../../assets/partials/mixins' as *;

.droppable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $background;
    box-shadow: 0 0 8px white;
    border-radius: 1rem;
    padding: 1rem 0;
    margin: 1rem 0;

    @include tablet{
        width: 25%;
    }

    &__header {
        align-self: center;
    }

    &__modal {
        margin-top: auto;
    }
}