.header {
    background: rgb(2,0,36);
    padding: $mobile-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    color: $secondary-text;

    &__main {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__header {
        font-weight: 600;
    }

    &__nav-layout {
        display: none;
        @include tablet {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            margin-right: 1rem;
            gap: 1rem;
            font-weight: 600;
        }
    }

    &__img {
        width: 3.5rem;
        height: auto;
        margin: 1rem 0;
    }

    &__more {
        width: 1.25rem;
    }
}