@use '../../assets/partials/variables' as *;
@use '../../assets/partials/mixins' as *;

.container {
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    margin: 0;
    background-color:$background;
}

.overlay {
    width: 100%;
    height: 2rem;
    cursor: pointer;
    background-color: $background; 
    color: $primary-text;
}

.modal-button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    font-size: 1rem;
}

.modal-container {
    background-color: $background;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    width: 60%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal {
    display: flex;
    flex-direction: column;

    &__title-container {
        display: flex;
        flex-direction: row;

        @include tablet {
            justify-content: space-between;
            padding: 0.5rem 0;
        }
    }

    &__title {
        font-size: 1.5rem;
        width: 50%;
    }

    &__title-right {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__input {
        height: 3rem;
        border-radius: 0.5rem;
        border: none;
        outline:none;
        font-family: 'Montserrat', sans-serif;
        padding-left: 0.5rem;
    }

    &__description {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    &__description-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
        }
    }

    &__textarea {
        height: 6rem;
        border-radius: 0.5rem;
        border: none;
        outline:none;
        resize: none;
        font-family: 'Montserrat', sans-serif;
        padding: 0.5rem 0 0 0.5rem;
    }

    &__category {
        font-size: 0.875rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem;
    }

    &__buttons {
        display: flex;
        align-self: center;
        gap: 1rem;

        @include tablet {
            padding: 1rem;
        }
    }

    &__button {
        height: 2.5rem;
        background-color: $tertiary-accent-color;
        font-family: 'Montserrat', sans-serif;
        border-radius: 2rem;
        color: $secondary-text;
        font-weight: 600;
        border: none;
        box-shadow: 0 0 10px $tertiary-accent-color;
        cursor: pointer;
        width: 75%;

        @include tablet {
            padding: 0 1rem;
            width: 10rem;
        }
    }

    &__ai {
        width: 30%;

        @include tablet {
            width: 25%;
        }

        @include desktop {
            width: 20%;
        }
    }

    &__number {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        font-size: 1rem;
    }

    &__number-input {
        font-family: 'Montserrat', sans-serif;
        border-radius: 0.5rem;
        border: none;
        outline:none;
        resize: none;
        height: 2rem;
        margin-left: 0.5rem;
        width: 20%;
        padding-left: 0.5rem;
    }
}