@use "../../assets/partials/mixins" as *;
@use "../../assets/partials/variables" as *;
@use "../../assets/partials/keyframes" as *;

.hero {
    height: 25rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include desktop{
        height: 40rem;
    }

    &__spline-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 50vh;
        justify-content: center;
        align-items: center;

        @include desktop{
            height: 50rem;
        }
    }

    &__spline-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @include tablet {
            display: none;
        }

        @include desktop{
            display: none;
        }
    }

    &__spline-canvas-tablet {
        display: none;

        @include tablet {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateY(-8rem);
        }

        @include desktop{
            display: none;
        }
    }

    &__spline-canvas-desktop {
        display: none;

        @include tablet{
            display: none;
        }

        @include desktop{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-13rem);
            
        }
    }

    &__button {
        width: 10rem;
        height: 2.5rem;
        border-radius: 1.5rem;
        border: none;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        background-color: $accent-color;
        cursor: pointer;
        transition: 0.25s;
        animation: slideIn 2s;
        z-index: 1;
        position: relative;
        margin-top: 15rem;

        @include tablet {
            transform: translateY(3rem);
        }

        @include desktop {
            transform: translateY(0rem);
        }

        &:hover {
            opacity: 50%;
        }
    }
}